#mainimage {
  z-index: 0;
  height: 47rem;
  width: 40rem;
  margin-bottom: -4px;
  padding-top: rem;
  position: absolute;
  top: 6.998rem;
  left: 77rem;
  opacity: 20%;
}

.textcontent {
  background-color: rgb(0, 0, 0);
  padding: 4rem;
  padding-top: 15rem;
  margin-inline: 4rem;
  font-size: 1.25rem;
  position: absolute;
  color: rgb(167, 167, 167);
  max-width: 65rem;
  height: 50rem;
}

p {
  padding-top: 1rem;
}

.endingparagraph {
  margin-top: 2.75rem;
}

.contentwrapper {
  margin: 0;
  width: 115rem;
  height: 54.6rem;
  background-color: black;
}

#mindful {
  text-shadow: 0 0 1rem rgb(0, 255, 21);
}

hr {
  border: solid 0.3px rgb(190, 190, 190);
  opacity: 80%;
  margin-block: 3rem;
  width: 70%;
  box-shadow: 0rem 0rem 1rem 3px greenyellow;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.smallerparagraph {
  font-size: 1rem;
  opacity: 60%;
  padding-top: 3rem;
}

.formwrapper {
  position: absolute;
}

.contactform {
  max-width: 30rem;
  height: 40rem;
  position: absolute;
  color: white;
  top: 12rem;
  left: 85rem;
}

form {
  padding-right: 4rem;
  padding-block: 1rem;
}

input[type="email"] {
  width: 100%;
  margin-bottom: 2rem;
  height: 3rem;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 2rem;
  height: 3rem;
}

input[type="text"]:focus {
  background-color: rgba(0, 66, 4, 0.2);
}

input[type="email"]:focus {
  background-color: rgba(0, 66, 4, 0.2);
}

textarea {
  margin-block: 2rem;
  color: gray;
  padding-top: 1rem;
  padding-left: 1rem;
  border-radius: 0.75rem;
  min-width: 26rem;
  min-height: 10rem;
  height: 2.1rem;
  background-color: transparent;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

textarea::placeholder {
  text-align: right;
  transform: translateY(7rem);
  padding-right: 1rem;
}

textarea:focus {
  background-color: rgba(0, 66, 4, 0.11);
}

input {
  position: relative;
  color: gray;
  padding-left: 1rem;
  border-radius: 0.75rem;
  width: 30%;
  height: 2.1rem;
  background-color: transparent;
  cursor: pointer;
}

input[type="textarea"] {
  width: 100%;
  height: 10rem;
}

input[type="submit"] {
  position: absolute;
  top: 33rem;
  left: 17rem;
}

input[type="submit"]:hover {
  background-color: rgb(0, 255, 21);
  transition: 0.3s;
  color: rgb(197, 197, 197);
  background-color: transparent;
  box-shadow: 0rem 0rem 2rem 3px rgb(0, 255, 21);
  border-style: none;
}

footer {
  border-top: solid 1px rgba(0, 100, 0, 0.185);
  padding-block: 1rem;
  font-size: 0.7rem;
  text-align: left;
  color: rgba(197, 197, 197, 0.5);
}

#iglogo {
  opacity: 50%;
  position: relative;
  float: right;
  bottom: 1.5em;
  margin-left: 2rem;
  height: 1.5rem;
  width: 1.5rem;
}

#iglogo:hover {
  opacity: 100%;
}


#fblogo {
  opacity: 50%;
  position: relative;
  float: right;
  bottom: 1.5em;
  margin-inline: 2rem;
  height: 1.5rem;
  width: 1rem;
}

#fblogo:hover {
  opacity: 100%;
}


#xlogo {
  opacity: 50%;
  position: relative;
  float: right;
  bottom: 1.5em;
  margin-inline: 2rem;
  height: 1.5rem;
  width: 1.5rem;
}

#xlogo:hover {
  opacity: 100%;
}

