#mainimage {
  max-width: 115rem;
  height: 50rem;
  margin-bottom: -4px;
}

.textcontent {
  background-color: black;
  padding: 4rem;
  padding-top: 8rem;
  margin-inline: 4rem;
  top: 8rem;
  font-size: 2rem;
  position: absolute;
  color: rgb(167, 167, 167);
  max-width: 50rem;
}

#mindful {
  text-shadow: 0 0 1rem rgb(0, 255, 21);
}

hr {
  border: solid 0.3px rgb(190, 190, 190);
  opacity: 80%;
  margin-block: 3rem;
  box-shadow: 0rem 0rem 1rem 3px greenyellow;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

article {
  margin-top: 4rem;
  font-size: 1.5rem;
}

#lowercontentL > p {
  padding-block: 1.5rem;
}

#lowercontentR > p {
  padding-block: 3rem;
}

#lowercontentbox {
  padding-top: 5rem;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  max-width: 130rem;
}

#lowercontentL {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 1.3rem;
  padding-inline: 5rem;
  padding-top: 6rem;
  margin: 3rem;
  color: rgb(177, 177, 177);
  max-width: 40rem;
  min-width: 15rem;
}

span {
   text-shadow: 0 0 2rem rgb(0, 255, 21);
   margin-bottom: -2rem;
}

.buttonwrapper {
    max-width:40rem;
    min-width: 15rem;
}

.learnmore {
    position: relative;
  display: inline block;
  color: gray;
  border-radius: 0.75rem;
  left: 23rem;
    width: 20%;
    height: 2.1rem;
    background-color: transparent;
    cursor: pointer;
    
}

.learnmore:hover {
  background-color: rgb(0, 255, 21);
  transition: 0.3s;
  color: rgb(197, 197, 197);
  background-color: transparent;
  box-shadow: 0rem 0rem 2rem 3px rgb(0, 255, 21);
  border-style: none;
}

#lowercontentR {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 1.3rem;
  padding-inline: 5rem;
  padding-top: 7rem;
  margin: 3rem;
  color: rgb(177, 177, 177);
  max-width: 55rem;
  min-width: 15rem;
}

#listicon1 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 70rem;
  margin-inline: -3.5rem;
  filter: drop-shadow(0 0 0.5rem rgb(30, 255, 0));
}

#listicon2 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 82.5rem;
  margin-inline: -3.5rem;
  filter: drop-shadow(0 0 0.5rem rgb(30, 255, 0));
}

#listicon3 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 93rem;
  margin-inline: -3.5rem;
  filter: drop-shadow(0 0 0.5rem rgb(30, 255, 0));
}

footer {
  border-top: solid 1px rgba(0, 100, 0, 0.185);
  padding-block: 1rem;
  font-size: 0.7rem;
  text-align: left;
  color: rgba(197, 197, 197, 0.5);
}

#iglogo {
  opacity: 50%;
position: relative;
float: right;
bottom: 1.5em;
margin-left: 2rem;
height: 1.5rem;
width: 1.5rem;
}

#iglogo:hover {
  opacity: 100%;
}

#fblogo:hover {
  opacity: 100%;
}

#xlogo:hover {
  opacity: 100%;
}

#fblogo {
  opacity: 50%;
  position: relative;
  float: right;
  bottom: 1.5em;
  margin-inline: 2rem;
  height: 1.5rem;
  width: 1rem;
}

#xlogo {
  opacity: 50%;
  position: relative;
  float: right;
  bottom: 1.5em;
  margin-inline: 2rem;
  height: 1.5rem;
  width: 1.5rem;
}

