* {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 115rem;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(0, 0, 0);
}

.topmenuwrapper {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: fixed;
  max-width: 115rem;
}

li {
  display: inline-block;
  list-style: none;
  font-size: 1.5rem;
  color: rgb(190, 190, 190);
  margin-inline: 2rem;
  padding: 1rem;
}

.topmenuitems {
  position: absolute;
  top: 5%;
}

#headerimg {
  width: 100%;
  height: 7rem;
}

#logomindfulwhite {
  max-width: 20%;
  max-height: 100%;
  min-width: 5%;
  min-height: 10%;
  position: absolute;
  padding: 1rem;
  right: 0.5rem;
  opacity: 70%;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(190, 190, 190);
}

a:hover {
  text-decoration: underline;
  transition: 0.2s;
  color: rgb(190, 190, 190);
  text-shadow: 0 0 1.5rem rgb(0, 255, 21), 0 0 1.5rem rgba(9, 211, 93, 0.596);
}

#logomindfulwhite:hover {
  opacity: 100%;
  transition: 0.2s;
}

